header {
       display: flex;
       z-index: 2;
}

header > div {
   width: 200px;
   display: inline-block;
   float: right;
   /*border: solid black 3px;*/
}
h4 {
    display: inline-block;
    /*border: solid black 3px;*/
}

#salmonImage {
   width: 400px;
   height: auto;
   /*border: solid black 3px;*/
   /*z-index: 2;*/
}

body {
  display: flex;
  flex-direction: column;
}

#backgroundimg {
    display: flex;
    z-index: 1;
}

.pnw {
    display: flex;
    min-width: 100%;
    min-height: 100%;
    /*border: solid black 3px;*/
    margin: -50px 0 0 0;
    /*z-index: 1;*/
}